In [15]:

import sqlite3

conn = sqlite3.connect('database.db')
c = conn.cursor()

c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print("Tables in the database:", c.fetchall())

c.execute("SELECT name FROM sqlite_master WHERE type='table';")
for table_name in c.fetchall():
    table_name = table_name[0]
    c.execute(f"PRAGMA table_info({table_name})")
    print(f"Columns in {table_name}:", c.fetchall())

# Close the connection
conn.close()

Tables in the database: []

In [16]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('database.db')
c = conn.cursor()

# Get the names of all tables in the database
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = c.fetchall()

for table_name in tables:
    table_name = table_name[0]
    # Get the number of rows in the table
    c.execute(f"SELECT COUNT(*) FROM {table_name}")
    print(f"Number of rows in {table_name}:", c.fetchone()[0])

conn.close()

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('database.db')
c = conn.cursor()

# Get the names of all tables in the database
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = c.fetchall()

# Create a CountVectorizer
vectorizer = CountVectorizer()

# For each table in the database
for table_name in tables:
    table_name = table_name[0]
    # Get all data from the table
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    # Convert the data to a single string
    data = ' '.join(df.astype(str).values.flatten())
    # Convert the string to a vector
    vector = vectorizer.fit_transform([data])
    print(f"Vector for {table_name}:", vector.toarray())

# Close the connection
conn.close()

In [18]:
# User's question
# question = input("Enter your question: ")
conn = sqlite3.connect('database.db')
c = conn.cursor()
question = "الامارات"
# Formulate the SQL query
query = f"SELECT * FROM my_table WHERE data LIKE '%{question}%'"

# Execute the SQL query
c.execute(query)

# Fetch all the results
rows = c.fetchall()

# Now 'rows' is a list of tuples, where each tuple corresponds to a row in the table
for row in rows:
    print(row)

# Don't forget to close the connection when you're done
conn.close()

OperationalError: no such table: my_table